PORTAL_HOST=127.0.0.1
PORTAL_PORT=8008
PORTAL_SECRET_KEY=change-me-generate-a-long-random-value
PORTAL_ALLOWED_CIDRS=127.0.0.1/32,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
PORTAL_TRUST_X_FORWARDED_FOR=false
PORTAL_ADMIN_USERNAME=admin
PORTAL_ADMIN_PASSWORD=change-me
PORTAL_ADMIN_DISPLAY_NAME=Administrator
PORTAL_DATA_DIR=./data
PORTAL_DOCUMENTS_DIR=./data/documents
